                 <title>three.js misc - lookAt</title>
        <meta charset="utf-8">
        <style type="text/css">
            body {
                color: #404040;
                font-family:Monospace;
                font-size:13px;
                text-align:center;

                background-color: #ffffff;
                margin: 0px;
                overflow: hidden;
            }

            #info {
                position: absolute;
                top: 0px; width: 100%;
                padding: 5px;
            }

            a {

                color: #0080bb;
            }
        </style>   
