                         <!--
                            -<div id="info"><a href="http://github.com/mrdoob/three.js" target="_blank">three.js</a> - Object3D::lookAt() demo</div>
                            -->

        <!--

           -<script type="text/javascript" src="javascripts/build/custom/ThreeCanvas.js"></script>
           -->
              
           <script type="text/javascript" src="javascripts/js/RequestAnimationFrame.js"></script>
           <script type="text/javascript" src="javascripts/Three.js"></script>
   
     
        
        <!--
           -<script type="text/javascript" src="javascripts/js/Stats.js"></script>
           -->
        <script type="text/javascript" src="javascripts/shared/TextBox.js"></script>

        <script type="text/javascript">
   
    var camera, scene, renderer,
    geometry, material, mesh;
          var textboxes= null;

    init();
    animate();

    function init() {

        camera = new THREE.Camera( 65, window.innerWidth / window.innerHeight, 1, 10000 );
        camera.position.z = 500;

        scene = new THREE.Scene();

        geometry = new THREE.Cube( 200, 200, 200 );
        material = new THREE.MeshBasicMaterial( { color: 0xff0000, wireframe: true } );

        mesh = new THREE.Mesh( geometry, material );
        scene.addObject( mesh );
                     textboxes = new Textbox(aOfer);
textboxes.draw_mesh(scene);
                  

  console.log(textboxes);
  textboxes.set_position();  
  //add some textboxes
  textboxes.draw_textbox(scene);
  textboxes.draw_line_between_textbox(scene);
  console.log("draw to console");
  //textboxes.to_scene_add_textboxes(scene);  
        renderer = new THREE.CanvasRenderer();
        renderer.setSize( window.innerWidth, window.innerHeight );

        document.body.appendChild( renderer.domElement );

    }

    function animate() {

        // Include examples/js/RequestAnimationFrame.js for cross-browser compatibility.
  requestAnimationFrame( animate );
        render();

    }

    function render() {

        mesh.rotation.x += 0.01;
        mesh.rotation.y += 0.02;

        renderer.render( scene, camera );

    }
                     
        </script>
 
